
/**
 * Generic data list.
 *
 * Available for: <dl>
 *
 * .data-list
 *   dt
 *   dd
 */

dl.data-list {
  dt, dd {
    font-size: $size-5;
  }

  dt {
    clear: left;
    float: left;
    display: block;
    font-weight: 700;
  }

  dd {
    margin: 0 0 0 5.5em;
  }
}
