
// Base variables redefinitions
$family-sans-serif: 'Josefin Sans', sans-serif;
$primary: #5f4d93;
$secondary: #e37682;
$tertiary: #2196F3;
$red: #F44336;
$section-padding-large: 11em 1.5em;
$footer-background-color: white;

// Margin helpers
.m {
  &t {
    &-1 { margin-top: 20px; }
    &-2 { margin-top: 40px; }
    &-3 { margin-top: 60px; }
    &-5 { margin-top: 100px; }
  }
}

// Removing ugly dotted border around buttons and a tags in firefox
button::-moz-focus-inner, a::-moz-focus-inner, input::-moz-focus-inner {
  border: none;
  outline: none;
}
