@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

@import 'variables';
@import 'node_modules/bulma/bulma';

img {
  width: 100%;
}

.headline {
  &-title {
    .title {
      font-weight: 700;
    }

    .subtitle {
      font-weight: 300;
    }
  }

  &-links{
    li {
      display: inline-block;
      font-size: $size-4;
      padding: 0 15px;

      a {
        color: $primary;
        transition: .2s all ease;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

a.action, button.action {
  background: transparent;
  border-radius: 26.5px;
  border: 1px solid $grey-lighter;
  color: $grey;
  cursor: pointer;
  font-size: $size-5;
  height: auto;
  outline: none;
  padding: 15px 35px;
  transition: .2s all ease;
  line-height: 1;

  &.has-icon {
    padding: 15px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:active {
    box-shadow: 0 0 0 0.125em $grey-lighter;
    border-color: transparent;
  }

  &.is-fullwidth {
    width: 100%;
    margin: 0;
  }

  &.is-primary:hover, &.is-primary.is-filled {
    background: $primary;
    border-color: $primary;
    color: $white;
  }
  &.is-secondary:hover, &.is-secondary.is-filled {
    background: $secondary;
    border-color: $secondary;
    color: $white;
  }
}

article.project {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
  transition: .5s all ease;

  @media screen and (min-width: $tablet) {
    &.is-featured {
      padding-bottom: 50%;
    }
  }

  &:hover > .description {
    opacity: 1;
  }

  .description {
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 35px;
    opacity: 0;
    transition: .5s all ease;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);

    .description-text {
      position: relative;
      top: 60%;

      * {
        color: $grey-lighter;
      }
    }
  }
}

.contact {
  background: white;
  padding: 20px;

  .control {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    input, textarea {
      padding: 13px 0;
      font-size: $size-5;
      line-height: 1;
      border: none;
      border-bottom: 3px solid $light;
      width: 100%;
      transition: .2s all ease;

      &::placeholder {
        color: $grey-light;
      }

      &:hover {
        border-color: $grey-lighter;
      }

      &.is-valid, &.is-valid:hover, &.is-valid:focus { border-color: $green; }
      &.is-invalid { border-color: $red; }
    }
  }
}
