@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
@import 'variables';
@import 'node_modules/bulma/bulma';
@import 'typography';

/**
 * Generic action buttons.
 *
 * Available for: <a>, <button>
 *
 * .action
 * .action.has-icon
 * .action.is-primary
 * .action.is-secondary
 * .action.is-tertiary
 * .action.is-fullwidth
 * .action.is-secondary
 * .action.is-disabled
 */

a.action, button.action {
  background: transparent;
  border-radius: 26px;
  border: 1px solid $grey-lighter;
  color: $grey;
  display: inline-block;
  font-size: $size-5;
  height: auto;
  line-height: $size-5;
  outline: none;
  padding: 15px 35px;
  transition: .2s all ease;

  &.has-icon {
    padding: 13.75px 21.5px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &.is-fullwidth {
    margin: 0;
    width: 100%;
  }

  &.is-disabled {
    background: $light;
    color: $grey-light;
    cursor: not-allowed;
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &.is-primary:hover, &.is-primary.is-filled {
      background: $primary;
      border-color: $primary;
      color: $white;
    }

    &.is-secondary:hover, &.is-secondary.is-filled {
      background: $secondary;
      border-color: $secondary;
      color: $white;
    }

    &.is-tertiary:hover, &.is-tertiary.is-filled {
      background: $tertiary;
      border-color: $tertiary;
      color: $white;
    }

    &:active {
      border-color: transparent;
      box-shadow: 0 0 0 0.125em $grey-lighter;
    }
  }
}

/**
 * Generic form styles.
 *
 * Available for: <form>
 *
 * .form
 *   .form-field(.has-addons)
 *     textarea(.has-errors)
 *     input(.has-errors)
 *     span.form-addon
 *     span.form-message
 */

form.form {
  .form-field {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &.has-addons {
      display: flex;

      > * {
        border-radius: 0;
        border-right-color: transparent;
        border-left-color: transparent;

        &:first-child {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
          border-left-color: $grey-lighter;
        }

        &:last-child {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          border-right-color: $grey-lighter;
        }
      }
    }

    span.form-addon {
      font-size: $size-5;
      background: $light;
      padding: 10px 15px;
      color: $grey;
      border: 1px solid $grey-lighter;
    }

    span.form-message {
      display: block;
      font-size: $size-7;
      margin: 8px 0 0 15px;
    }

    input, textarea {
      font-size: $size-5;
      background: white;
      border-radius: 3px;
      padding: 10px 15px;
      transition: .2s all ease;
      border: 1px solid $grey-lighter;
      min-width: 0;
      flex: 1;
      width: 100%;

      &.has-errors {
        box-shadow: 0px 0px 5px 0px adjust-color($red, $alpha: -0.5);
      }

      &:disabled {
        background: $light;
        cursor: not-allowed;
      }

      &:not(:disabled) {
        &:hover, &:focus {
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
      }

      &::placeholder {
        color: $grey;
      }
    }

    textarea {
      resize: vertical;
      min-height: 100px;
      max-height: 200px;
    }
  }
}

/**
 * Generic data list.
 *
 * Available for: <dl>
 *
 * .data-list
 */

dl.data-list {
  dt, dd {
    font-size: $size-5;
  }

  dt {
    clear: left;
    float: left;
    display: block;
    font-weight: 700;
  }

  dd {
    margin: 0 0 0 5.5em;
  }
}

