language: javascript

sudo: false

before_install:
- openssl aes-256-cbc -K $encrypted_90794547a8aa_key -iv $encrypted_90794547a8aa_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- chmod 700 deploy_rsa

install:
- travis_retry npm install

script:
- npm run prod

deploy:
- provider: script
  skip_cleanup: true
  script: rsync -r -e "ssh -i deploy_rsa -o 'StrictHostKeyChecking no'" $TRAVIS_BUILD_DIR/dist $TRAVIS_BUILD_DIR/index.html root@46.101.45.168:/var/www/html
  on:
    branch: master

notifications:
  email: false
  slack: scripty-bois:zrQeg3FNpUvdJ9Jh3ZxuPo4Y
