
/**
 * Typography definitions
 *
 * Available for: <* class="content">
 *
 * 1) Paragraph line height set to 1.7
 * 2) Em tag custom styles
 * 3) Anchor tag styles
 */

.content
  p
    line-height: 1.7

  em
    color: $secondary

  a
    color: $secondary
    border-bottom: 1px dotted $grey-light

    &:hover
      color: $secondary
      border-color: transparent

